<div>

<header class="header">
  
<%= link_to "Book now", new_reservation_path %>
<%= link_to "Sign-in", new_user_path %>

</header>
</div>
<section class="module parallax parallax-1">
  <div class="container">
    <h1>Finca Ogawa</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Bienvenidos!!</h2>

    <p><%= link_to "Book now", new_reservation_path, :class => "btn-group" %></p>
    <p> Majestic mountain vistas and a verdant, tranquil setting nestled among expansive, bounteous vineyards are yours to enjoy as guests of Finca Ogawa — our little corner of Valle de Uco, a place of ever-growing renown as one of the eight great wine-producing regions of the world.

<p> Finca Ogawa is a 27-acre boutique resort and vineyard with an 80-year heritage as a working farm and orchard, well-located only about an hour’s drive south of the vibrant and lovely tree-lined streets of charming Mendoza City.
</p>
<p>
Available for rental are two recently remodeled 1- and 2- bedroom, fully appointed accommodations and five newly built 2- and 3- bedroom country vineyard homes.
</p>
<p>
Now you, your family, and your friends, both young and old, can join us in the incomparable “finca experience,” and share this experience with other guests as well as with your bilingual hosts.
</p>
<p>
Each rental unit has its own distinctive character and casual charm, but all share close proximity to some of Argentina’s most famous wineries, Andes ski resorts, thermal hot springs, and a wide range of cultural, gastronomic and enlivening outdoor activities and entertainments.
</p>
<p>
Swimming pools and all modern amenities are available, and shopping is located nearby.</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>About me</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante molestie, rhoncus mauris consequat, tempus tellus. Praesent maximus eros nibh, in feugiat urna laoreet consequat. In commodo ultricies est non tristique. Cras ligula lectus, condimentum eget erat at, consectetur pretium ipsum. Nulla eget porttitor ligula. Nam id convallis odio. Donec consequat, ex vitae aliquam finibus, ante mi auctor orci, in rhoncus augue sem vel nulla.

    Duis iaculis erat leo, non ornare nunc venenatis eu. Curabitur nec pulvinar magna, vel varius lorem. Integer fringilla ante quis magna pharetra, vitae imperdiet leo mattis. Etiam luctus elit eu iaculis rhoncus. Mauris gravida, lacus vitae commodo congue, sem velit tempus ligula, vel mattis ipsum magna at mauris. Nullam vitae porttitor urna, hendrerit aliquet tortor. Integer eu urna sit amet neque viverra facilisis. Maecenas ac mollis nibh. Quisque egestas arcu varius felis consequat vestibulum. Curabitur varius non quam vitae auctor. Vivamus efficitur aliquet odio ut gravida. Aliquam risus massa, viverra ut auctor et, viverra ut risus.

    Duis blandit, ante eget tincidunt accumsan, arcu enim iaculis lacus, vitae pellentesque dui lacus nec lorem. Sed ipsum tellus, tincidunt vitae lectus in, viverra ullamcorper nisi. Etiam eget ornare lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sit amet nunc at ante bibendum gravida eget sit amet dui. Nulla dolor felis, ultrices vel luctus ac, sollicitudin in est. Vestibulum consequat lobortis lectus, in auctor tortor consectetur in. Mauris sit amet velit quis lacus ullamcorper vestibulum eu eu urna. Proin fringilla nunc nec congue bibendum. Phasellus ac ipsum in est faucibus viverra.

    Quisque cursus odio ligula, ut posuere metus molestie eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque porttitor gravida luctus. Donec tincidunt quam tortor, sit amet porta ante pellentesque nec. Pellentesque facilisis, justo lacinia ultrices feugiat, nulla neque commodo leo, sit amet gravida elit mi sed mauris. Donec pellentesque, urna eget auctor luctus, est leo scelerisque sem, ut laoreet leo nunc et purus. Duis nec aliquam sapien. Aenean fermentum, metus non scelerisque scelerisque, ligula mi ullamcorper enim, at pellentesque sem ipsum eget neque. Nulla et erat turpis. Cras porttitor dictum ipsum et elementum. Nunc sed tortor sed nisi egestas scelerisque. Etiam accumsan ligula a libero pharetra, ac egestas orci molestie. Fusce facilisis eros a imperdiet porttitor.

    Nullam vel risus ut ex sagittis dapibus. Phasellus nec porttitor metus, id consequat nibh. Phasellus facilisis velit eu diam molestie faucibus. Etiam feugiat felis id erat accumsan suscipit. Praesent ac malesuada turpis. Quisque placerat molestie ligula, eget feugiat turpis condimentum sed. Nunc id lorem in erat pulvinar ultrices. Sed fermentum nec libero at efficitur. Vivamus aliquet sapien purus, id tempus massa porta eu. Vivamus luctus gravida urna, vel convallis sem euismod quis. Etiam in interdum felis. Duis aliquam blandit elit eu hendrerit. Aenean urna ex, congue non auctor at, vestibulum ac sapien. Sed mattis egestas ante ut scelerisque. Aliquam vel tincidunt nunc, quis tempus nisl.

    Phasellus sed ligula sapien. Donec sem metus, ullamcorper at ipsum sit amet, fringilla tristique felis. Donec fermentum laoreet dignissim. Vestibulum varius, urna eget vehicula tempus, purus metus maximus justo, eu vulputate turpis lectus a velit. Donec pharetra leo metus, eu ultrices eros consectetur eget. Suspendisse ac tincidunt lacus. Praesent gravida ipsum et placerat lacinia. Duis libero ligula, rhoncus ac ligula eu, interdum euismod lacus. In molestie consectetur mollis.

    Vestibulum fringilla, urna ac convallis commodo, elit nibh interdum arcu, egestas dignissim odio nisl at velit. Praesent at sodales quam. Etiam sollicitudin erat sit amet justo pellentesque consequat. Morbi sit amet vehicula nisi. Proin a diam porttitor lorem sollicitudin venenatis vel nec erat. Nunc id diam dapibus, aliquam velit ut, feugiat mauris. Cras eget gravida justo. Vestibulum luctus sem vitae consequat euismod. Ut eget urna nec urna luctus pharetra. Proin augue tellus, tempus quis erat ut, pellentesque imperdiet dui. Praesent cursus orci vitae ultricies vulputate. Phasellus pretium neque sit amet pulvinar maximus. Nullam nisi tortor, efficitur id diam a, ornare elementum elit. Proin lacinia odio nec scelerisque maximus.

    Aenean et mi quis arcu maximus lacinia eget eget velit. Sed finibus, dolor ac eleifend tempus, mi diam pretium magna, nec fringilla est enim in nisl. Proin ultrices dui sed mattis mattis. Aenean vel hendrerit enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras nisi ante, bibendum id blandit in, faucibus a leo. Integer tristique eleifend massa non dictum. Proin venenatis odio eros, id dapibus mi viverra id. Praesent tempor auctor tellus gravida imperdiet. Integer et libero felis. Nullam a diam massa. Pellentesque pulvinar dui ut tellus bibendum sollicitudin.</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Selected works</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et ante molestie, rhoncus mauris consequat, tempus tellus. Praesent maximus eros nibh, in feugiat urna laoreet consequat. In commodo ultricies est non tristique. Cras ligula lectus, condimentum eget erat at, consectetur pretium ipsum. Nulla eget porttitor ligula. Nam id convallis odio. Donec consequat, ex vitae aliquam finibus, ante mi auctor orci, in rhoncus augue sem vel nulla.

    Duis iaculis erat leo, non ornare nunc venenatis eu. Curabitur nec pulvinar magna, vel varius lorem. Integer fringilla ante quis magna pharetra, vitae imperdiet leo mattis. Etiam luctus elit eu iaculis rhoncus. Mauris gravida, lacus vitae commodo congue, sem velit tempus ligula, vel mattis ipsum magna at mauris. Nullam vitae porttitor urna, hendrerit aliquet tortor. Integer eu urna sit amet neque viverra facilisis. Maecenas ac mollis nibh. Quisque egestas arcu varius felis consequat vestibulum. Curabitur varius non quam vitae auctor. Vivamus efficitur aliquet odio ut gravida. Aliquam risus massa, viverra ut auctor et, viverra ut risus.

    Duis blandit, ante eget tincidunt accumsan, arcu enim iaculis lacus, vitae pellentesque dui lacus nec lorem. Sed ipsum tellus, tincidunt vitae lectus in, viverra ullamcorper nisi. Etiam eget ornare lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sit amet nunc at ante bibendum gravida eget sit amet dui. Nulla dolor felis, ultrices vel luctus ac, sollicitudin in est. Vestibulum consequat lobortis lectus, in auctor tortor consectetur in. Mauris sit amet velit quis lacus ullamcorper vestibulum eu eu urna. Proin fringilla nunc nec congue bibendum. Phasellus ac ipsum in est faucibus viverra.

    Quisque cursus odio ligula, ut posuere metus molestie eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque porttitor gravida luctus. Donec tincidunt quam tortor, sit amet porta ante pellentesque nec. Pellentesque facilisis, justo lacinia ultrices feugiat, nulla neque commodo leo, sit amet gravida elit mi sed mauris. Donec pellentesque, urna eget auctor luctus, est leo scelerisque sem, ut laoreet leo nunc et purus. Duis nec aliquam sapien. Aenean fermentum, metus non scelerisque scelerisque, ligula mi ullamcorper enim, at pellentesque sem ipsum eget neque. Nulla et erat turpis. Cras porttitor dictum ipsum et elementum. Nunc sed tortor sed nisi egestas scelerisque. Etiam accumsan ligula a libero pharetra, ac egestas orci molestie. Fusce facilisis eros a imperdiet porttitor.

    Nullam vel risus ut ex sagittis dapibus. Phasellus nec porttitor metus, id consequat nibh. Phasellus facilisis velit eu diam molestie faucibus. Etiam feugiat felis id erat accumsan suscipit. Praesent ac malesuada turpis. Quisque placerat molestie ligula, eget feugiat turpis condimentum sed. Nunc id lorem in erat pulvinar ultrices. Sed fermentum nec libero at efficitur. Vivamus aliquet sapien purus, id tempus massa porta eu. Vivamus luctus gravida urna, vel convallis sem euismod quis. Etiam in interdum felis. Duis aliquam blandit elit eu hendrerit. Aenean urna ex, congue non auctor at, vestibulum ac sapien. Sed mattis egestas ante ut scelerisque. Aliquam vel tincidunt nunc, quis tempus nisl.

    Phasellus sed ligula sapien. Donec sem metus, ullamcorper at ipsum sit amet, fringilla tristique felis. Donec fermentum laoreet dignissim. Vestibulum varius, urna eget vehicula tempus, purus metus maximus justo, eu vulputate turpis lectus a velit. Donec pharetra leo metus, eu ultrices eros consectetur eget. Suspendisse ac tincidunt lacus. Praesent gravida ipsum et placerat lacinia. Duis libero ligula, rhoncus ac ligula eu, interdum euismod lacus. In molestie consectetur mollis.

    Vestibulum fringilla, urna ac convallis commodo, elit nibh interdum arcu, egestas dignissim odio nisl at velit. Praesent at sodales quam. Etiam sollicitudin erat sit amet justo pellentesque consequat. Morbi sit amet vehicula nisi. Proin a diam porttitor lorem sollicitudin venenatis vel nec erat. Nunc id diam dapibus, aliquam velit ut, feugiat mauris. Cras eget gravida justo. Vestibulum luctus sem vitae consequat euismod. Ut eget urna nec urna luctus pharetra. Proin augue tellus, tempus quis erat ut, pellentesque imperdiet dui. Praesent cursus orci vitae ultricies vulputate. Phasellus pretium neque sit amet pulvinar maximus. Nullam nisi tortor, efficitur id diam a, ornare elementum elit. Proin lacinia odio nec scelerisque maximus.

    Aenean et mi quis arcu maximus lacinia eget eget velit. Sed finibus, dolor ac eleifend tempus, mi diam pretium magna, nec fringilla est enim in nisl. Proin ultrices dui sed mattis mattis. Aenean vel hendrerit enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras nisi ante, bibendum id blandit in, faucibus a leo. Integer tristique eleifend massa non dictum. Proin venenatis odio eros, id dapibus mi viverra id. Praesent tempor auctor tellus gravida imperdiet. Integer et libero felis. Nullam a diam massa. Pellentesque pulvinar dui ut tellus bibendum sollicitudin.</p>
  </div>
</section>
